.logo{
    display: flex;
    margin-left: 10%;
    margin-top: 3%;
}
.menu{
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    justify-content: space-between;
    margin-left: 50%;
    margin-right: 10%;
}
.button{
    border-radius: 25px;
    height: 50px;
    width: 132px;
}