.body{
    background-color: #E5E5E5;
}
.logo{
    display: flex;
    margin-left: 235px;
    margin-top: 50px;
}
.menu{
    display: flex;
    justify-content: flex-end;
    margin-top:-60px;
    justify-content: space-between;
    margin-left: 50%;
    margin-right: 13%;
    align-items: center;
}
.button_1{
    border-radius: 25px;
    height: 55px;
    width: 154px;
    background-color: white;
    color:#FF383D ;
    border: 2px solid #FB4C47;
    font-weight: bold;
}
.text_menu{
    font-size:18px;

}
.a_1:hover{
    color: red;
    
}
.content_header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}




.girl{

}
.stay_at_home{
    margin-top: 150px;
}
.stay_at_home > span{
    color:#FA5652 ;
    font-weight:bold;
    font-size:32px;  
}
.stay_at_home > h1{
    color:#035755;
    font-weight: bold;
    font-size:52px;
}
.stay_at_home > .text{
    color:#4B4F51;
    font-size: 24px;
}
.button_2{
    background-color:#FB4C47;
    width:250px;
    height: 80px;
    top: 833px;
    left: 243px;
    border-radius:65px;
    border:#FB4C47;
    color:#ffffff;
    font-size:24px;
    font-weight:bold;
}
.main_1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-items: center;
    margin-right:220px;
    
}
.content_1 > span {
    font-size: 29px;
    color: #FA5652;
    font-weight: bold;
} 
.content_1 > h2 {
    color: #035755;
    font-size: 50px;
    font-weight: bold;
}
.content_1 > p{
    color: #4B4F51;
    font-size: 20px;
}
.button_3{
    position: absolute;
    width: 200px;
    height: 65px;
    background: rgba(250, 86, 82, 0.15);
    border-radius: 65px;
    border:  rgba(250, 86, 82, 0.15) ;
    color: #FA5652;
    font-size:20px;
    font-weight: bold;
}


.virus_2{
    display: flex;
    justify-content: flex-end;
    margin-top: -550px;
    margin-right:-10px;
}
.Contagion > span{
    display: flex;
    justify-content: center;
    color: #FA5652;
    font-size:29px;
    font-weight: bold;
}
.Contagion >h2{
    display: flex;
    justify-content: center;
    color: #035755;
    font-size: 50px;
    font-weight:bold;
}
.text_contagion_main{
    display: flex;
    justify-content: center;
    color: #4B4F51;
    font-size: 18px;
}
.Contagion_main{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 240px;
    
}
.Contagion_main > p {
    color:#4B4F51 ;
    font-size: 18px;
}
.Contagion_1{
    width: 460px;
    height: 575px;
    display: block;
    text-align: center;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 91px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 91px -30px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 91px -30px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-top: 100px;
    margin-right: 30px;
    z-index:6;
}
.content_c1{
    margin-top: 25%;
    position: relative;
}
.content_c1 > h3{
    font-size: 36px;
    font-weight:bold;
    color: #035755;
    margin-top: 40px;
}
.content_c1 > p{
    font-style: 18px;
    font-weight: normal;
    color: #4B4F51;
}
.Contagion_2{
    width: 460px;
    height: 575px;
    display: block;
    text-align: center;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 91px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 91px -30px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 91px -30px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-top: 100px;
    margin-right: 30px;
}
.content_c2{
    margin-top:17%;
}
.content_c2 > h3{
    font-size: 36px;
    font-weight:bold;
    color: #035755;
    margin-top: 40px;
}
.content_c2 > p{
    font-style: 18px;
    font-weight: normal;
    color: #4B4F51;
}
.Contagion_3{
    width: 460px;
    height: 575px;
    display: block;
    text-align: center;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 91px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 91px -30px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 91px -30px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-top: 100px;
}
.content_c3{
    margin-top:25%;
}
.content_c3 > h3{
    font-size: 36px;
    font-weight:bold;
    color: #035755;
    margin-top: 40px;
}
.content_c3 > p{
    font-style: 18px;
    font-weight: normal;
    color: #4B4F51;
}
.Contagion_main > img{
    position: relative;
}
.virus_3{
    display: flex;
    justify-content: center;
    position: absolute;
    left: -91%;
    z-index:2;
}
.Symptoms > span {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 29px;
    color:#FA5652;
    font-weight: bold;
}
.Symptoms > h2 {
    display: flex;
    justify-content: center;
    font-size:50px;
    font-weight: bold;
    color: #035755;
}
.Symptoms > p {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color:#4B4F51;
}
.Symptoms_girl{
 text-align: center;
    
}
.Ws_Wd > span{
    display: flex;
    justify-content: center;
    margin-top: 145px;
    font-size:29px ;
    font-weight: bold;
    color: #FA5652;

}
.Ws_Wd > h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight:bold;
    color: #035755;
    
}
.Ws_Wd > p{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: normal;
    color: #4B4F51;
}
.Wear_Mask{
    display: flex;
    justify-content: center;
}
.Wear_Mask_text{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    margin-top: 150px;
}
.H3_circle_01{
    font-size:47px ;
    color: #035755;
    font-weight: bold;
}
.Wear_Mask_text > p{
    font-size: 18px;
    font-weight: normal;
    color: #4B4F51;
}
.Circle_h3{
    display: flex;
    align-items: center;
}
.Circle_01{
    margin-left: -110px;
}
.H3_circle_01{
    margin-left: 34px;
}
.Virus_4{
    margin-top: -250px;
}
.Wash{
    display: flex;
    justify-content: center;
}
.Girl_wash{
    margin-left: -200px ;
}
.Girl_wash_text{
    margin-left: 250px;
    margin-top: 170px;
}
.H3_circle_02 > h3{
    color: #035755;
    font-size: 47px;
    font-weight: bold;
}
.Girl_wash_text > p{
    color: #4B4F51;
    font-size: 18px;
    font-weight: normal;
}
.Circle_02_h3{
    display: flex;
    justify-content: center;
    margin-right: 
    
}
.Circle_02{
    margin-left: -200px; 
}
.H3_circle_02{
    margin-left: 34px;
}
.Nose_rage{
    display: flex;
    justify-content: center;
    margin-top: 150px;

}
.Girl_nose_rage{
    display: flex;
    justify-content: center;
    margin-top: -350px;
    margin-left: 850px;
}
.Nose_rage_text{
    margin-right: 270px;
}
.Circle_03_h3{
    display: flex;
    margin-right: 550px;
}
.H3_circle_03 > h3{
    color: #035755;
    font-size: 47px;
    font-weight: bold;
}
.Nose_rage_text > p{
    color: #4B4F51;
    font-size: 18px;
    font-weight: normal;
}
.Circle_03_h3{
    display: flex;
    align-items: center;
}
.Circle_03{
    margin-left: -110px;
}
.H3_circle_03{
    margin-left: 34px;
}
.Avoid_contacts{
    display: flex;
    justify-content: center;
}
.Avoid_contacts_text{
    margin-top: 220px;
    margin-right: 200px;
}
.Circle_04_h3{
    display: flex;
}
.H3_circle_04 > h3 {
    font-size:47px ;
    color:#035755;
    font-weight: bold;
}
.Circle_04{
    margin-left: -110px;
}
.H3_circle_04{
    margin-left: 34px;
}
.Avoid_contacts_girl{
    display: flex;
    margin-right: 150px;

}
.Virus_5{
    display: flex;
    justify-content: flex-end;
    margin-top: -700px;
}
.Avoid_contacts_text > p{
    color: #4B4F51;
    font-size:18px ;
    font-weight: normal;
}
.Live_reports{
    display: flex;
    margin-top: 120px;
    justify-content: center;
}
.Question{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Question > h2{
    color: #0C6C44;
    font-size: 64px;
}
.Email{
    width: 790px;
    height: 114px;
    border-radius: 60px;
    border: 2px solid #ffffff ;
    -webkit-box-shadow: 0px 0px 91px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 91px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 91px -40px rgba(0,0,0,0.75);
    margin-top: 30px;

}
.downnav{
    background: linear-gradient(360deg, rgba(255, 241, 241, 0.5) 0%, rgba(255, 241, 241, 0) 108.69%);
}
.btn_4{
    color: #ffffff;
    width: 209px;
    height: 78px;
    border-radius: 157px;
    background-color: #F44A45;
    font-size: 22px;
    border: 2px solid #F44A45;
}
.btn_4_Send{
    display: flex;
    justify-content: center;
    margin-top: -95px;
    margin-right: -550px;
}